extends ../layout

block content
  .page-header
    h3 Sign in
  div(ng-controller='loginController')
    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        label.col-sm-3.control-label(for='rollno') Roll Number
        .col-sm-7
          input.form-control(ng-model='rollno', ng-model-options='{ debounce: 800 }', onclick='select()', type='text', name='rollno', id='rollno', placeholder='Roll Number', required)
      .form-group
        label.col-sm-3.control-label(for='password') Password
        .col-sm-7
          input.form-control(ng-model='pass', type='password', name='password', id='password', placeholder='Password', required)
      label(ng-show='securityQuestion.length', style='font-size: 20px;') Security question: {{securityQuestion}}
      .form-group
        label.col-sm-3.control-label(for='security') Secuirty Question
        .col-sm-7
          input.form-control(ng-model='securityAnswer', type='password', name='security', id='security', placeholder='Security Question', required)
      .form-group
        .col-sm-offset-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            i.fa.fa-user
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      .form-group
        .col-sm-offset-3.col-sm-7
          hr
      .form-group
        .col-sm-offset-3.col-sm-7
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Sign in with Facebook
          a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            | Sign in with Twitter
          a.btn.btn-block.btn-google.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Sign in with Google
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            | Sign in with GitHub
          a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
            i.fa.fa-linkedin
            | Sign in with LinkedIn
          a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
            i.fa.fa-instagram
            | Sign in with Instagram
