//- script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js')
script(src='js/lib/angular.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js')
script(src='js/lib/angular-route.js')
script(src='js/controller/get-security.js')
script(src='js/controller/naarad-data.js')
script(src='js/controller/wiki-search.js')
script(src='js/controller/gyft-fetch.js')
script(src='js/controller/sidebar-check.js')
script(src='js/services/auth-factory.js')
script(src='js/services/gyft-factory.js')
script(src='js/core.js')