//- footer
//-   .container.text-center
//-     p.pull-left © 2017 Company, Inc. All Rights Reserved
//-     ul.pull-right.list-inline
//-       li
//-         a(href='https://github.com/sahat/hackathon-starter') GitHub Project
//-       li
//-         a(href='https://github.com/sahat/hackathon-starter/issues') Issues

footer.footer
  .container-fluid(align='center')
    p.copyright.pull-right
      | &copy;
      script.
        document.write(new Date().getFullYear())
      | Made with love for KGP, by KGP