footer.footer
  .container-fluid(align='center')
    p.copyright.pull-left
      | &copy;
      | MetaKGP  |  
      script.
        document.write(new Date().getFullYear())
    p.copyright.pull-right
      | Made with 
      i.fa.fa-heart
      | for KGP, by KGP
