footer.footer
  .container-fluid(align='center')
    p.copyright.pull-left
      | &copy;
      script.
        document.write(new Date().getFullYear())
    p.copyright.pull-right
      i.fa.fa-heart
      | Made with love for KGP, by KGP