.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Project name
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'API Examples') ? 'active' : undefined)
          a(href='/api') API Examples
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
        li
          a(href='/status') Status
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout

//- nav.navbar.navbar-default.navbar-fixed
//-   .container-fluid
//-     .navbar-header
//-       button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
//-         span.sr-only Toggle navigation
//-         |                             
//-         span.icon-bar
//-         |                             
//-         span.icon-bar
//-         |                             
//-         span.icon-bar
//-       |                         
//-       a.navbar-brand(href='#') Dashboard
//-     |                     
//-     .collapse.navbar-collapse
//-       ul.nav.navbar-nav.navbar-left
//-         li
//-           a.dropdown-toggle(href='#', data-toggle='dropdown')
//-             //- i.fa.fa-dashboard
//-             //- |                                     
//-             p.hidden-lg.hidden-md Dashboard
//-         |                             
//-         //- li.dropdown
//-         //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
//-         //-     i.fa.fa-globe
//-         //-     |                                     
//-         //-     b.caret.hidden-sm.hidden-xs
//-         //-     |                                     
//-         //-     span.notification.hidden-sm.hidden-xs 5
//-         //-     |                                     
//-         //-     p.hidden-lg.hidden-md
//-         //-       | 5 Notifications
//-         //-       b.caret
//-         //-   |                                 
//-         //-   ul.dropdown-menu
//-         //-     li
//-         //-       a(href='#') Notification 1
//-         //-     |                                     
//-         //-     li
//-         //-       a(href='#') Notification 2
//-         //-     |                                     
//-         //-     li
//-         //-       a(href='#') Notification 3
//-         //-     |                                     
//-         //-     li
//-         //-       a(href='#') Notification 4
//-         //-     |                                     
//-         //-     li
//-         //-       a(href='#') Another notification
//-         //- |                             
//-         //- li
//-         //-   a(href='')
//-         //-     i.fa.fa-search
//-         //-     |                                     
//-         //-     p.hidden-lg.hidden-md Search
//-       |                         
//-       ul.nav.navbar-nav.navbar-right
//-         li
//-           a(href='')
//-             p Account
//-         |                             
//-         li.dropdown
//-           a.dropdown-toggle(href='#', data-toggle='dropdown')
//-             p
//-               | Dropdown
//-               b.caret
//-           |                                 
//-           ul.dropdown-menu
//-             li
//-               a(href='#') Action
//-             |                                     
//-             li
//-               a(href='#') Another action
//-             |                                     
//-             li
//-               a(href='#') Something
//-             |                                     
//-             li
//-               a(href='#') Another action
//-             |                                     
//-             li
//-               a(href='#') Something
//-             |                                     
//-             li.divider
//-             |                                     
//-             li
//-               a(href='#') Separated link
//-         |                             
//-         li
//-           a(href='#')
//-             p Log out
//-         |                             
//-         li.separator.hidden-lg.hidden-md
//- |