// Checkbox, Radio & Switch Plugins
script(src='js/bootstrap-checkbox-radio-switch.js')
// Charts Plugin
// <script src="js/chartist.min.js"></script>
// Notifications Plugin
script(src='js/bootstrap-notify.js')
// Google Maps Plugin
// <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
// Light Bootstrap Table Core javascript and methods for Demo purpose
script(src='js/light-bootstrap-dashboard.js')