// Bootstrap core CSS
link(href='css/bootstrap.min.css', rel='stylesheet')
// Animation library for notifications
link(href='css/animate.min.css', rel='stylesheet')
// Light Bootstrap Table core CSS
link(href='css/light-bootstrap-dashboard.css', rel='stylesheet')
// Fonts and icons
//- link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
link(href='css/font-awesome.min.css')
link(href='fonts/roboto.css', rel='stylesheet')
link(href='css/pe-icon-7-stroke.css', rel='stylesheet')