.sidebar(data-color='orange', data-image='images/sidebar-5.jpg')
  //
    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag
  .sidebar-wrapper
    .logo
      .row
        a(href='/')
          img.img-responsive.center-block(src='images/logo/metakgp-inv.png')
    ul.nav
      li.active
        a(href='/')
          i.pe-7s-home
          p Home
      li
        a(href='/wiki')
          i.pe-7s-user
          p Wiki
      li
        a(href='/mfqp')
          i.pe-7s-note2
          p MFQP
      li
        a(href='/mcmp')
          i.pe-7s-pen
          p MCMP
      li
        a(href='/naarad')
          i.pe-7s-news-paper
          p Naarad
      li
        a(href='/gyft')
          i.pe-7s-date
          p GYFT
      li
        a(href='/cabshare')
          i.pe-7s-car
          p Cab Sharing
      li
        a(href='/driverstat')
          i.pe-7s-car
          p Driver Status
      li
        a(href='/buysell')
          i.pe-7s-cart
          p Buy / Sell portal
