.sidebar(data-color='orange', data-image='images/sidebar-5.jpg', ng-controller='sidebarController')
  //
    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag
  .sidebar-wrapper
    .logo
      .row
        a(href='/')
          img.img-responsive.center-block(src='images/logo/metakgp-inv.png')
    ul.nav
      li
        a(href='/')
          i.pe-7s-home
          p Home
      li
        a(target="_blank", href="https://wiki.metakgp.org/w/Main_Page")
          i.pe-7s-user
          p Wiki
      li
        a(target="_blank", href="https://wiki.metakgp.org/w/Yellow_pages")
          i.pe-7s-id
          p Yellow Pages
      li
        a(target="_blank", href="https://wiki.metakgp.org/w/Category:Courses")
          i.pe-7s-study
          p Courses
      li
        a(href='/mfqp')
          i.pe-7s-note2
          p MFQP
      li
        a(href='/mcmp')
          i.pe-7s-pen
          p MCMP
      li
        a(href='/naarad')
          i.pe-7s-news-paper
          p Naarad
      - if (locals.user)
        li
          a(href='/gyft?user='+user.rollno)
            i.pe-7s-alarm
            p GYFT
      - else
        li
          a(href='/gyft')
            i.pe-7s-study
            p GYFT
      li
        a(href='/calendar')
          i.pe-7s-date
          p In-campus calendar
      li
        a(href='/cabshare')
          i.pe-7s-car
          p Cab Sharing
      li
        a(href='/driverstat')
          i.pe-7s-call
          p Driver Status
      - if (locals.user)
        li
          a(href='/buysell?user='+user.rollno)
            i.pe-7s-cart
            p Buy / Sell portal
      - else
        li
          a(href='/buysell')
            i.pe-7s-cart
            p Buy / Sell portal
      li
        a(href='/lostfound')
          i.pe-7s-way
          p Lost / Found portal