script(type='text/javascript').
    $(document).ready(function() {
    //- demo.initChartist();
    $.notify({
    icon: 'pe-7s-gift',
    message: "Welcome to <b>KGP Dashboard</b> - made with love by KGP, for KGP."
    }, {
    type: 'info',
    timer: 4000
    });
    });