extends layout

block content
    .row
        .col-xs-10.col-xs-offset-1
            div(class='text-center vertical-center')
                h1(style='color: #999;') Coming Soon
    //-   .col-md-6.col-md-offset-3
    //-     #ratings
    //-       h1(style='text-align: center;') Cab Sharing
    //-       p As the name suggests, this is a <b>cab sharing utility</b> that allows campus people to share their cab rides.
    //- <br>
    //- div(ng-controller='cabshareController')
    //-     ul.nav.nav-tabs.nav-justified(style='margin-bottom: 30px;')
    //-         li(ng-class='{active : selectedTab(1)}')
    //-             a(href, ng-click='selectTab(1)') Search Cab
    //-         li(ng-class='{active : selectedTab(2)}')
    //-             a(href, ng-click='selectTab(2)') Post a Cab
    //-         li(ng-class='{active : selectedTab(3)}')
    //-             a(href, ng-click='selectTab(3);getAllCabs()') List all cabs
    //-     form.form-horizontal(ng-show='selectedTab(1)')
    //-         .form-group
    //-             label.col-sm-3.control-label(for='destination') Destination
    //-             .col-sm-7
    //-                 .dropdown
    //-                     button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown', type='button', aria-expanded='false') {{searchButton}}
    //-                         span.caret
    //-                     ul.dropdown-menu(ng-model='searchSelectedDestination', style='width: 100%;')
    //-                         li.dropdown-header Pick your destination
    //-                         li(ng-click="searchChange(dest)" ng-repeat="dest in destinations")
    //-                             a {{dest}}
    //-         .form-group
    //-             label.col-sm-3.control-label(for='date') Date of Journey
    //-             .col-sm-7
    //-                 datepicker(date-format="yyyy-MM-dd", date-min-limit="minDateStr", date-typer="true")
    //-                     input.form-control(ng-model='date', type='text')
    //-         .form-group
    //-             label.col-sm-3.control-label(for='time') Time of Journey
    //-             .col-sm-7
    //-                 input.form-control(ng-model='time', type='text', name='time', id='time', placeholder='HH:MM')
    //-         .form-group
    //-             .col-sm-offset-3.col-sm-7
    //-                 button.col-sm-3.btn.btn-block.btn-primary(type='button', ng-click='triggerSearch()')
    //-                     i.fa.fa-search
    //-                     | Search
    //-     form.form-horizontal(ng-show='selectedTab(2)')
    //-         .form-group
    //-             .col-sm-offset-1.col-sm-10
    //-                 label.col-sm-2.control-label(for='name') Name
    //-                 -   if (locals.user)
    //-                     .col-sm-4
    //-                         input.form-control(ng-model='name', type='text', name='name', id='name', value=user.profile.name)
    //-                     label.col-sm-2.control-label(for='email') Email
    //-                     .col-sm-4
    //-                         input.form-control(ng-model='email', type='email', name='email', id='email', value=user.email)
    //-                 -   else
    //-                     .col-sm-4
    //-                         input.form-control(ng-model='name', type='text', name='name', id='name')
    //-                     label.col-sm-2.control-label(for='email') Email
    //-                     .col-sm-4
    //-                         input.form-control(ng-model='email', type='email', name='email', id='email')
    //-         .form-group
    //-             .col-sm-offset-1.col-sm-10
    //-                 label.col-sm-2.control-label(for='contact') Contact Number
    //-                 .col-sm-4
    //-                     input.form-control(ng-model='contact', type='text', name='contact', id='contact')
    //-                 label.col-sm-2.control-label(for='seats') Available seats
    //-                 .col-sm-4
    //-                     input.form-control(ng-model='seats', type='text', name='number', id='seats')
    //-         .form-group
    //-             label.col-sm-3.control-label(for='destination') Destination
    //-             .col-sm-7
    //-                 .dropdown
    //-                     button.btn.btn-default.btn-block.dropdown-toggle(data-toggle='dropdown', type='button', aria-expanded='false') {{postButton}}
    //-                         span.caret
    //-                     ul.dropdown-menu(ng-model='postSelectedDestination', style='width: 100%;')
    //-                         li.dropdown-header Pick your destination
    //-                         li(ng-click="postChange(dest)" ng-repeat="dest in destinations")
    //-                             a {{dest}}
    //-         .form-group
    //-             .col-sm-offset-1.col-sm-10
    //-                 label.col-sm-2.control-label(for='date') Date of Journey
    //-                 .col-sm-10
    //-                     datepicker(date-format="yyyy-MM-dd")
    //-                         input.form-control(ng-model='date', type='text')
    //-         .form-group
    //-             .col-sm-offset-1.col-sm-10
    //-                 label.col-sm-2.control-label(for='time') Time of journey
    //-                 .col-sm-4
    //-                     input.form-control(ng-model='time', type='text', name='time', id='time', placeholder='HH:MM')
    //-                 label.col-sm-2.control-label(for='threshold') Time window (hours)
    //-                 .col-sm-4
    //-                     input.form-control(ng-model='threshold', type='text', name='number', id='threshold', step='0.1')
    //-         .form-group
    //-             .col-sm-offset-3.col-sm-7
    //-                 button.col-sm-3.btn.btn-block.btn-primary(type='button', ng-click='triggerPost()')
    //-                     i.fa.fa-pencil
    //-                     | Post
    //-     div.row.text-center.pagination-centered(ng-show="successPost == true&&selectedTab(1)")
    //-         .col-xs-12
    //-             p Post successful! Find possible matches by checking the listings.
    //-     div.row.text-center.pagination-centered(ng-show="successPost == false&&selectedTab(1)")
    //-         .col-xs-12
    //-             p Post unsuccessful. Please try again.
    //-     div.row(ng-show="successAll&&selectedTab(3)")
    //-         .col-xs-10.col-xs-offset-1
    //-             table.table.table-bordered
    //-                 thead
    //-                     tr
    //-                         th Name
    //-                         th Destination
    //-                         th Available seats
    //-                         th Date
    //-                         th Time
    //-                         th Contact
    //-                 tbody
    //-                     tr(ng-repeat="ride in successAll")
    //-                         td {{ride.name}}
    //-                         td {{ride.dest}}
    //-                         td {{ride.availSeats}}
    //-                         td {{ride.date}}
    //-                         td {{ride.time}}
    //-                         td {{ride.number}}
    //-     div.row(ng-show="successSearch&&selectedTab(1)")
    //-         .col-xs-10.col-xs-offset-1
    //-             table.table.table-bordered
    //-                 thead
    //-                     tr
    //-                         th Name
    //-                         th Destination
    //-                         th Available seats
    //-                         th Contact
    //-                 tbody
    //-                     tr(ng-repeat="ride in successSearch")
    //-                         td {{ride.name}}
    //-                         td {{ride.dest}}
    //-                         td {{ride.availSeats}}
    //-                         td {{ride.number}}