extends layout

block content
    script(type='text/javascript').
      (function ping() {
        $.getJSON("http://desolate-reef-33512.herokuapp.com/driverapi", function(data) {
            var items = [];
            console.log("Starting request");
            console.log(new Date().toLocaleString());
            $.each(data, function(key, val) {
                if (val["status"] == "Free") {
                    items.push("<tr><td>" + val["name"] + "</td><td>" + val["number"] + "</td><td>" + val["status"] + "&nbsp; <i class='fa fa-circle text-success'></i></td></tr>");
                }
            });
            $.each(data, function(key, val) {
                if (val["status"] != "Free") {
                    items.push("<tr><td>" + val["name"] + "</td><td>" + val["number"] + "</td><td> Busy &nbsp;<i class='fa fa-circle text-danger'></i></td></tr>");
                }
            });
            console.log("Ending request");
            console.log(new Date().toLocaleString());
            $('#feed-wrapper').html("<table id='feed' class='table table-striped table-bordered' cellspacing='0' width='100%'><thead><tr><th>Cab Driver</th><th>Contact Number</th><th>Status</th></tr></thead><tbody>" + items.join("") + "</tbody></table>");
        });
        setTimeout(ping, 1000);
      })();
    .content
        .container-fluid
            .row
              .col-md-12
                  #feed-wrapper.content.table-responsive.table-full-width
                    table#feed.table.table-striped.table-bordered(cellspacing='0', width='100%')
                      thead
                        tr
                          th Cab Driver
                          |                                             
                          th Contact Number
                          |                                             
                          th Status
                      |                                     
                      tbody
