extends layout

block content
  #main-card.card 
    div(style='padding: 10px; color: white; font-size: 15px; text-align: center;') <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><i class="fa fa-quote-left"></i> We come together, to share our knowledge and our experiences <br> So that all may benefit from what one has learned <br> And to create an everlasting record of our fleeting passing through IIT KGP <i class="fa fa-quote-right"></i>
  |
  include partials/footer

  //- include partials/welcome