extends layout

block content
  #main-card.card 
    div(style='padding: 10px; color: white; font-size: 15px; text-align: center;') <i class="fa fa-quote-left"></i> We come together <br> To share our knowledge <br> And our experiences <br> So that all may benefit <br> From what one has learned <br> And to create <br> An everlasting record <br> Of our fleeting passing <br> Through IIT KGP <i class="fa fa-quote-right"></i>
  |
  include partials/footer

  //- include partials/welcome