extends layout

block content
  #main-card.card 
    div(style='padding: 0px; color: white; font-size: 40px; text-align: center;font-family: "Amatic SC", cursive;padding-top:32vh;font-weight: bold;text-shadow: 2px 2px #222222;') 
        <i class="fa fa-quote-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;We come together, to share our knowledge and our experiences <br> So that all may benefit from what one has learned <br> And to create an everlasting record of our fleeting passing through IIT KGP&nbsp;&nbsp;&nbsp;<i class="fa fa-quote-right"></i>
  |
  include partials/footer

  //- include partials/welcome