extends layout

block content
  script(type='text/javascript').
    var fuse;
      var nextQuery = null;
      var processing = false;
      var currentQuery = null;
      $(function() {
      $('#query').focus();
      var worker = new Worker('js/lib/worker2.js');
      $.getJSON("data/data.json")
      .success(function(json) {
      worker.postMessage({type: 'data', data: json});
      })
      .error(function(jqxhr, status, err) {
      console.log(jqxhr, status, err);
      });
      worker.onmessage = function(results) {
      processing = false;
      $('.sk-folding-cube').addClass('hidden');
      displayResults(results.data);
      if (nextQuery !== null) {
      var query = nextQuery;
      nextQuery = null;
      search(query);
      }
      }
      function displayResults(results) {
      var html = ''
      for (var i = 0; i < 20; ++i) {
      html += '<tr><td><a target="_blank" class="result-link" href="'+results[i].Link+'">' + results[i].Year + ' / ' + results[i].Department + ' / ' + results[i].Semester + ' / ' + results[i].Paper +'</a></td></tr>';
      }
      $('#results').html(html);
      $('.result-link').click(function() {
      ga('send', 'event', 'Result', 'click', $('#query').val().trim());
      })
      }
      var search = _.debounce(function() {
      var query = $('#query').val().trim();
      if (query === '') {
      $('#results-wrapper').html('');
      return;
      }
      if (processing) {
      nextQuery = query;
      return;
      }
      if (query === currentQuery) {
      return;
      }
      processing = true;
      currentQuery = query;
      $('.sk-folding-cube').removeClass('hidden');
      worker.postMessage({type: 'query', query: query});
      ga('send', 'event', 'Search', 'query', query);
      }, 200);
      $('#query').keydown(search);
      });
  .content
      .container-fluid
          .row
            .col-md-12
              .card
                form
                  input#query.form-control(type='text', name='email', placeholder='Enter your Question Paper here')
                |                             
                .content.table-responsive.table-full-width
                  table.table.table-hover.table-striped
                    thead
                      th Question Paper - Search Results
                    |                                     
                    tbody#results
                  |                                 
                  .card.card-user
                    .image(style='height: 100%; width: 100%; object-fit: contain')
                      img(src='images/ratings.png', alt='...')

