extends layout

block content
  style.
    .modal-body {
      max-height: calc(100vh - 210px);
      overflow-y: auto;
      }
    .modal-backdrop {
      display: none;
      z-index: 0 !important;
      }
    table td {
      border-top: none !important;
    }
  div(ng-controller='naaradDataController')
    <datatables-directive/>
    .container-fluid
        .row
            .col-md-10.col-md-offset-1
              .header
                h4.title KGPian Newsfeed
              .content.table-responsive.table-full-width
                table#feed.table.table-hover(cellspacing='0', width='100%')
                  thead
                    tr
                      th KGPian Newsfeed
                  tbody
                    tr(ng-repeat='post in naaradData')
                      td
                        .card.card-outline-primary.text-xs-center.animated.bounceInUp(style='visibility: visible; animation-name: bounceInUp;')
                          #naarad-card.card-block
                            .row
                              .col-md-2(ng-show='!isUndefinedOrNull(post.pic)')
                                img.card-img-top.img-responsive.b-lazy(src='images/ripple.gif', ng-data-src='{{post.pic}}')
                              |
                              .col-md-1(ng-show='isUndefinedOrNull(post.pic)')
                              |
                              .col-md-10                                                             
                                h4.card-title
                                  | {{post.source}}
                                h6.card-subtitle.mb-2.text-muted Posted on {{post.real_date}} at {{post.real_time}}
                                p.card-text
                                  | {{post.short_message}}
                                  a.card-link(href='#', data-toggle='modal', data-target='#big', data-source="{{post.source}}", data-message=" {{post.message}} ", data-img="{{post.pic}}", ng-show='!isUndefinedOrNull(post.read_more)&&!isUndefinedOrNull(post.pic)')  ...
                                  a.card-link(href='#', data-toggle='modal', data-target='#big', data-source="{{post.source}}", data-message=" {{post.message}} ", data-img="0", ng-show='!isUndefinedOrNull(post.read_more)&&isUndefinedOrNull(post.pic)')  ...
                                |   
                              .col-md-1(ng-show='isUndefinedOrNull(post.pic)')
                              |
                            .row
                              .col-md-6.col-md-offset-3.text-center.pagination-centered                        
                                #naarad-card-button.a.btn.btn-secondary(href='#', data-toggle='modal', data-target='#big', data-source="{{post.source}}", data-message=" {{post.message}} ", data-img="{{post.pic}}", ng-show='!isUndefinedOrNull(post.read_more)&&!isUndefinedOrNull(post.pic)')
                                  i.fa.fa-book.fa-lg
                                  | Read more     
                                #naarad-card-button.a.btn.btn-secondary(href='#', data-toggle='modal', data-target='#big', data-source="{{post.source}}", data-message=" {{post.message}} ", data-img="0", ng-show='!isUndefinedOrNull(post.read_more)&&isUndefinedOrNull(post.pic)')
                                  i.fa.fa-book.fa-lg
                                  | Read more                                                           
                                #naarad-card-button.a.btn.btn-secondary(href='https://www.facebook.com/{{post.id}}', target='_blank')
                                  i.fa.fa-facebook-official.fa-lg
                                  | View post
                          |                                                             
                |                                     
                .bd-example
                  #big.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                          |                                                         
                          h4#exampleModalLabel.modal-title New message
                        |                                                     
                        .modal-body
                          .row
                            #pic.col-lg-4.col-sm-12(style='border:none; opacity: 1;')
                              .card
                                img.card-img-top.img-fluid(src='', width='100%', alt='')
                            |                                                             
                            #content.col-lg-8.col-sm-12
                              .card.text-xs-center(style='border:none;')
                                .card-block
                                  p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        |                                                     
                        .modal-footer
                          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js')
  script(type='text/javascript').
      $('#big').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var source = button.data('source') // Extract info from data-* attributes
      var message = button.data('message')
      var img = button.data('img')
      var modal = $(this)
      if(img==0) {
      modal.find("#pic").removeClass("col-lg-4")
      modal.find("#pic").removeClass("col-sm-12")
      modal.find("#content").removeClass("col-lg-8")
      modal.find("#content").addClass("col-lg-12")
      modal.find("#pic").hide()
      }
      else {
      modal.find("#pic").addClass("col-lg-4")
      modal.find("#pic").addClass("col-sm-12")
      modal.find("#content").removeClass("col-lg-12")
      modal.find("#content").addClass("col-lg-8")
      modal.find("#pic").show()
      $('#big img').attr('src', img);
      }
      modal.find('.modal-title').text(source)
      modal.find('.card-text').html(message)
      })
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.1/blazy.js')
  script(src='js/lib/blazy.js')
  script.
    ;(function() {
    var bLazy = new Blazy();
    })();


