#main-card {
    background: url(../images/kgp.jpg) bottom;
    background-size: cover;
    min-height: 90vh;
}

#naarad-card {
    padding: 20px;
}

#naarad-card-button {
    margin: 20px;
}

#wikiCard {
	padding-top: 50px;
}

#wiki-button {
	margin-top: 25px;
}